<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/main.css">
 
</head>
<body>
    
    <div class="form-control-inline">
       
    <main class="grid">
        
    <form class="form-control" action="/admin/add-user" method="POST" >
        
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" >
        </div>
        <div class="form-control">
            <label for="mobileNumber">Mobile Number</label>
            <input type="number" name="mobileNumber" id="mobileNumber" >
        </div>
        <div class="form-control">
            <label for="emailId">Email</label>
            <input type="email" name="emailId" id="emailId" >
        </div>
    </form><br>
     <form action="/admin/fetch-users" class="form-control-inline" method="POST">
        <button class="btn" type="submit"> Add </button>
     </form>    
        
    
</main>
</div>
    
</body>
</html>
   



  

    
        
    
